* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll_to_up {
    width: 110px;
    height: auto;
    color: black;
    text-decoration: none;
    position: fixed;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
}

.scroll_to_up:hover {
    text-decoration: none;
    color: green;
}

.my {
    font-size: 42px;
}